<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>View All Courses</title>
</head>
<body>
	<h2 th:text=" 'Login as ' + ${#httpServletRequest.remoteUser}">Login as</h2>
	<form th:action="@{/logout}" method="post">
		<input type="submit" value="Sign Out" />
	</form>
	<h1>All Course</h1>

	<div th:each="course,iterationStatus: ${courses}">
		<h3 th:text="'No. ' + ${iterationStatus.count}">No. 1</h3>
		<h3 th:text="'Id Course = ' + ${course.idCourse}">id</h3>
		<h3 th:text="'Nama = ' + ${course.nama}">nama</h3>
		<h3 th:text="'SKS = ' + ${course.sks}">sks</h3>
		<hr />
	</div>
</body>
</html>
